@model IEnumerable<FrontEnd.Models.Survey>

@{
    ViewData["Title"] = "SurveyResult";
}

<style>



    body {
        background-image: url("https://media.istockphoto.com/id/1308693519/photo/football-scene-at-night-match-with-close-up-of-a-soccer-shoe-hitting-the-ball-with-power.jpg?b=1&s=170667a&w=0&k=20&c=VC4hxGaJzeSmae9xb88O7jnCB6oxBLF_VxebIFRjzUU=");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }
</style>

<h1>Survey Report</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@



<table class="table color=" Blue" table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.SurveyId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SurveyId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SurveyId">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back", "Admin", "Home", null, new { @class = "btn btn-primary btn-large" })

@*<h1>GetSurvey</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SurveyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SurveyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SurveyId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
